* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9fafb;
  color: #333;
  line-height: 1.6;
}

h1, h2, h3, nav a {
  font-family: 'Poppins', sans-serif;
}


/*  NAVEGACIÓN */
header {
  background-color: #4f46e5;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

nav h1 {
  font-size: 1.5rem;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
  font-weight: 500;
}

nav a:hover {
  color: #10b981;
}

/* SECCION 1 */
